<template>
  <div class="home">
    <div class="container">
      <LoadingBar v-if="isLoading" color="red" />

      <div class="title">
        <h1>Cached Time-series Plot: AMEX, NYSE, NASDAQ stock histories</h1>
      </div>
      <ChartToolbar />
      <div class="space" />
      <Chart />
      <div class="space" />
      <Summary />
    </div>

    <AlertBar v-if="hasError" :closeMethod="CloseAlert" :message="error" />
  </div>
</template>

<script>
// Dependencies
import Vue from "vue";

import LoadingBar from "@/components/LoadingBar";
import AlertBar from "@/components/AlertBar";
import ChartToolbar from "@/components/ChartToolbar";
import Chart from "@/components/Chart";
import Summary from "@/components/Summary";

export default {
  name: "Home",
  components: {
    LoadingBar,
    AlertBar,
    ChartToolbar,
    Chart,
    Summary
  },
  methods: {
    CloseAlert() {
      this.$store.dispatch("clearError");
    }
  },
  computed: {
    hasError() {
      return this.$store.state.error !== null;
    },
    error() {
      return this.$store.state.error;
    },
    isLoading() {
      return this.$store.state.isLoading;
    }
  }
};
</script>

<style lang="stylus" scoped>
.container
  width 900px
  min-height 445px
  border-radius 3px
  position relative
  padding 20px 20px 10px 20px
  margin auto

  .title
    text-align center
</style>
