<template>
  <div class="options is-flex">
    <!-- Stock Exchange -->
    <div class="option__block">
      <label class="label">Stock</label>
      <select
        class="input"
        v-model="options.name"
        @change="setOptions(options)"
      >
        <option v-for="stock in stockNames" :key="stock" :value="stock">
          {{stock}}
        </option>
      </select>
    </div>
    <!-- Limit -->
    <div class="option__block">
      <label class="label">Limit results</label>
      <select
        class="input"
        v-model="options.limit"
        @change="setOptions(options)"
      >
        <option :value="50">50</option>
        <option :value="100">100</option>
        <option :value="500">500</option>
      </select>
    </div>
    <!-- Year -->
    <div class="option__block">
      <label class="label">Year</label>
      <select
        class="input"
        v-model="options.year"
        @change="setOptions(options)"
      >
        <option v-for="year in yearsRange" :key="year" :value="year">
          {{ year }}
        </option>
      </select>
    </div>
    <!-- Reset button -->
    <div class="option__block">
      <label class="label">Default</label>
      <button class="button" :disabled="resetButtonStatus" @click="reset">
        Reset
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChartToolbar",
  data() {
    return {
      stockNames: []
    };
  },
  computed: {
    /**
     * resetButtonStatus: This computed property will return a boolean
     * true if the option values are default otherwise false.
     */
    resetButtonStatus() {
      const { limit, year } = this.options;
      return limit === 50 && year === 2019 ? true : false;
    },
    /**
     * yearsRange: This computed property will return an array
     * of all the years between 1970 and the current year.
     */
    yearsRange() {
      const result = [];
      const currentYear = new Date().getFullYear();
      const minYear = 1970;

      for (let i = minYear; i <= currentYear; i++) {
        result.push(i);
      }
      return result.reverse();
    },
    options() {
      return this.$store.state.options;
    }
  },
  methods: {
    setOptions(opts) {
      this.$store.dispatch("setOptions", { ...opts });
    },
    reset() {
      this.$store.dispatch("resetOptions");
    }
  },
  async mounted() {
    const { data: names } = await this.axios.get('/stocks/names');
    this.stockNames = names;
  }
};
</script>
<style lang="stylus" scoped>
// Options
.option__block
  width 33%

.option__block:not(:first-child)
  margin-left 1%
</style>
