// todo: fix hidden for re-render, I tried with :key attribute but sometimes chart breaks
<template>
  <div class="chart">
    <span class="hidden">
      {{ options.year }}
    </span>
    <vue-c3 :handler="handler" />
  </div>
</template>

<script>
// Dependencies
import moment from "moment";
import Vue from "vue";
import VueC3 from "vue-c3";
import { format } from "d3";

export default {
  name: "Chart",
  data() {
    return {
      handler: new Vue(),
      // todo: This should be stored in store!!
      dataset: []
    };
  },
  computed: {
    options() {
      return this.$store.state.options;
    }
  },
  components: {
    VueC3
  },
  methods: {
    /**
     * GetStockHistories: This method will fire a GET request and then
     * assign the response data into the state property: dataset
     *
     * @param {object} options
     */
    async GetStockHistories(options) {
      try {
        // API query options: limit, year, name
        const nameQuery =
          options && options.name ? `&name=${options.name}` : "";
        const query = options
          ? `limit=${options.limit}&year=${options.year}${nameQuery}`
          : null;

        // Request the data on /stocks [GET]
        const stocks = await this.axios.get(`/stocks?${query}`);

        // Set the columns
        const volumeColumn = ["Volume"];
        const lowColumn = ["Low"];
        const highColumn = ["High"];
        const adjustedClosePriceColumn = ["Adjusted close price"];
        const openColumn = ["Open"];
        const dateColumn = ["Date"];

        // Format the dataset to the C3 format
        for (let stock of stocks.data) {
          volumeColumn.push(stock.volume);
          lowColumn.push(stock.low);
          highColumn.push(stock.high);
          adjustedClosePriceColumn.push(stock.adjustedClosePrice);
          openColumn.push(stock.open);
          dateColumn.push(moment(stock.date).format("YYYY-MM-DD"));
        }

        // Return the dataset
        const result = [
          openColumn,
          highColumn,
          lowColumn,
          adjustedClosePriceColumn,
          dateColumn
        ];
        return Promise.resolve(result);
      } catch (err) {
        return Promise.reject(err);
      }
    },
    /**
     * GetStocksWithParamQueries: This method call the GetStockHistories method
     * by passing down a parameter object and then dispatch the results to the
     * chart.
     *
     * @param {object} queryOptions
     */
    async GetStocksWithParamQueries(queryOptions) {
      this.$store.dispatch("startLoading");
      try {
        const result = await this.GetStockHistories(queryOptions);
        this.handler.$emit("dispatch", chart => {
          return chart.load({
            columns: result
          });
        });
      } catch (err) {
        this.$store.dispatch(
          "setError",
          "There was an error trying to update the chart. Try again please."
        );
      }
      this.$store.dispatch("stopLoading");
    },
    async InitChart() {
      this.$store.dispatch("startLoading");
      try {
        // Fecth the initial data
        const dataset = await this.GetStockHistories();
        const options = {
          data: {
            columns: dataset,
            x: "Date",
            y: "High",
            onclick: dataPoint => {
              this.$store.dispatch("setSelection", { ...dataPoint });
            }
          },
          axis: {
            x: {
              type: "timeseries",
              tick: {
                format: "%Y-%m-%d"
              }
            },
            y: {
              label: {
                text: "High",
                position: "outer-middle"
              },
              tick: {
                format: format("$,")
              }
            }
          }
        };
        this.handler.$emit("init", options);
      } catch (err) {
        this.$store.dispatch(
          "setError",
          "An error occurred trying to fetch the initial data."
        );
      }
      this.$store.dispatch("stopLoading");
    }
  },
  async mounted() {
    this.InitChart();
  },
  async beforeUpdate() {
    await this.GetStocksWithParamQueries(this.options);
  }
};
</script>

<style lang="stylus" scoped>
.chart
  border 1px solid rgba(0,0,0, 0.1)

  .hidden
    display none
</style>
