<template>
  <div class="summary
    width: 100%">
    <div class="title">
      <h1>Summary</h1>
    </div>
    <div class="space"></div>
    <div v-if="selection">
      <ul>
        <li  :style="`background-color: ${backgroundColor};`"><b>Type:</b> {{ selection.name }}</li>
        <li><b>Value:</b> {{ selection.value.toFixed(4) }}</li>
      </ul>
      <button type="button" class="button" @click="clearSelection">
        Clear selection
      </button>
    </div>
    <h3 v-else>No points have been selected.</h3>
  </div>
</template>

<script>
export default {
  name: "Summary",
  methods: {
    clearSelection() {
      this.$store.dispatch("clearSelection");
    }
  },
  computed: {
    hasSelection() {
      return this.$store.state.selection !== null;
    },
    selection() {
      return this.$store.state.selection;
    },
    backgroundColor() {
      const colors = {
        "Adjusted close price": "#D62728",
        Low: "#2CA02C",
        Open: "#1F77B4",
        High: "#FF7F0E",
        default: "transparent"
      };

      const { selection } = this.$store.state;
      const type = (selection && selection.name) || "default";

      return colors[type];
    }
  }
};
</script>

<style lang="stylus" scoped>
.summary
  padding 1.5em
  border 1px solid rgba(0,0,0, 0.1)

  .title
    text-align center

  ul
    list-style none outside none

    li
      padding: .8em
</style>
